@import url('https://fonts.googleapis.com/css2?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One');

:root {
  --color-grey-20: #E6E6E6;
  --color-grey-40: #B5BDBF;
  --color-text: #1A1A1A;

  --color-primary-40: #EFE1CE;
  --color-primary-70: #E4CAA9;
  --color-primary-100: #D8B384;

  --color-secondary-40: #E4F5ED;
  --color-secondary-70: #C9EBDB;
  --color-secondary-100: #79CDA4;
  --font-base: 'Quicksand';
  --font-title: 'Fredoka One';
}

body {
  color: var(--color-text);
  background: var(--color-grey-20);
  font-family: var(--font-base);
}

.btn-primary{
    background-color: var(--color-primary-100) !important;
    color: var(--color-text) !important;
    border-style: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

btn-primary:focus{
    border-style: solid !important;
}

.btn-primary:hover{
    background-color: var(--color-primary-70) !important;

}

.img-card {
  height: 14em;
  background-color: var(--color-grey-20);
}

.bg-headfoot {
  background-color: var(--color-secondary-100);
}

.bg-section {
  background-color: var(--color-primary-40);
}

:-webkit-input-placeholder {
    color:  var(--color-text);
}
:-moz-placeholder {
   color:   var(--color-text);
   opacity:  1;
}
::-moz-placeholder {
   color:  var(--color-text);
   opacity:  1;
}
:-ms-input-placeholder {
   color: var(--color-text);
}
::-ms-input-placeholder {
   color: var(--color-text);
}

::placeholder {
   color: var(--color-text);
}

@media screen and (max-width: 880px) {
  .img-880-resize {
    width: 65px;
    height: 65px;
  }
}

@media screen and (max-width: 576px) {
  .img-sm-resize {
    width: 50px;
    height: 50px;
  }
}